html{
    width:50px
}
/*DIFERENCIAS ENTRE GRID Y FLEXBOX*/
/*GRID ESTA PENSADO EN MANEJAR ELEMENTOS
DE DOS DIMENSIONES PEUS ES UNA CUADRICUA
MIENTRAS QUE FLEXBOX ESTA PENSADO EN MANIPULAR
ELEMENTOS DE UNA SOLA ES DECIR O SOLO UNA COLUMNA
O SOLO UNA FILA HAACIENDO QUE ESTOS NO NECESARIAMENTE
TENGAN LAS MISMAS MEDIDAS*/
/*LE01*/
/*COMO MANEJAR
LA ORIENTACION DEL TEXTO
Y EL DEBORDAMIENTO CON
FLOW, EN ESTE CASO FLEX-FLOW*/
.flex{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}