body{
    width: 100%;
}
/*DIFERENCIAS ENTRE GRID Y FLEXBOX*/
/*GRID ESTA PENSADO EN MANEJAR ELEMENTOS
DE DOS DIMENSIONES PEUS ES UNA CUADRICUA
MIENTRAS QUE FLEXBOX ESTA PENSADO EN MANIPULAR
ELEMENTOS DE UNA SOLA ES DECIR O SOLO UNA COLUMNA
O SOLO UNA FILA HAACIENDO QUE ESTOS NO NECESARIAMENTE
TENGAN LAS MISMAS MEDIDAS*/
/*LE01*/
/*COMO MANEJAR
LA ORIENTACION DEL TEXTO
Y EL DEBORDAMIENTO CON
FLOW, EN ESTE CASO FLEX-FLOW*/
/*LE02*/
/*PARA CAMBIAR EL ORDEN DE LOS ITEMS EN FLEXBOX USAREMOS
ORDER, ESTOS NO NECESARIEMNTE SEGUIRAN UN ORDEN CONTINUO
PUES SIEMPRE ESCOGERA COMO UN METODO BURBUJA EL MENOR PARA ESTABLECERLO
COMO PRIMERO Y ASI*/
/*LE3-4*/
/*USAREMOS FLEX-GROW PARA DARLE UN TAMAÑO DINAMICO 
A NUESTRAS CAJAS, ESTE POR LO GENERAL SERA PROPORCIONAL
SI UN ELEMENTO TIENE 1 Y OTRO 2 ENTONCES EL SEGUNDO TENDRA
EL DOBLE, ADEMAS USAREMOS FLEX-BASIS PARA DEFINIR UN TAMAÑO
INICIAL, AL USAR AMBOS DIREMOS POR EJEMPLO FLEX-BASIS DE 50PX
Y FLEX-GROW 1 ENTONCCES LA PROPORCION SERA 1 = 50PX Y EL SIGUIENTE
ELEMENTO CON OTRA PROPOCION ESTARA BASADA EN LSO 50*/
.flex{
    display: flex;
    flex-flow: row ;
    justify-content: end;
    width: 100%;
}
.primero{
    flex-grow: 1 ;
}
.segundo{
    flex-grow: 2;

}