body{
    background-color:#eee;
}
.navi{
    background-color:#9FD5D1;
    color: #fff;
    width: 100%;
    padding-top: 28px;
    margin: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-btn{
    background-color: #9FD5D1;
    color: #fff;

    border: 0;
    cursor: pointer;    
}
.dropdown-content{
    background-color: #f9f9f9;
    display: block;
  
    
}
.dropdown-content a{
    display: block;
    text-decoration: none;
    color: #000;
    min-width: 150px;
    
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

