body{
    background-color: #eee;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px) ;
}
.element{
    padding-top: 50px;
    background-color: red;
    text-align: center;
}